10 1 * * 6 cd /home/Projects/LJ-Monitor/ && /home/.virtualenvs/env27/bin/python HireSpider.py

0 0 * * * cd /home/Projects/LJ-Monitor/ && /home/.virtualenvs/env27/bin/python ErShouSpider.py

0 1 20 * * cd /home/Projects/LJ-Monitor/ && /home/.virtualenvs/env27/bin/python SignSpider.py