# 每周六的 1:00 执行一次租房商品的全站爬取
0 1 * * 6 export PYTHONIOENCODING=utf-8 && ~/.virtualenvs/env27/bin/python ~/Projects/LJ-Monitor/ZuFangSpider.py
# 每天 7:00 执行一次租房商品的增量爬取
0 7 * * * export PYTHONIOENCODING=utf-8 && ~/.virtualenvs/env27/bin/python ~/Projects/LJ-Monitor/ZuFangSpider.py -m inc

# 每隔五天，在当天 3:00 执行一次二手房商品的全站爬取
0 3 */5 * * export PYTHONIOENCODING=utf-8 && ~/.virtualenvs/env27/bin/python ~/Projects/LJ-Monitor/ErShouSpider.py
# 每天 18:23 执行一次二手房商品的增量爬取
23 18 * * * export PYTHONIOENCODING=utf-8 && ~/.virtualenvs/env27/bin/python ~/Projects/LJ-Monitor/ErShouSpider.py -m inc

# 每隔两周，在当天 22:00 执行一次成交记录爬虫
0 22 * */2 * export PYTHONIOENCODING=utf-8 && ~/.virtualenvs/env27/bin/python ~/Projects/LJ-Monitor/SignSpider.py